PORT=3300
AI_MODEL=Qwen
SILICONFLOW_API_KEY=your-api-key-here
SILICONFLOW_BASE_URL=https://api.siliconflow.cn/v1
SILICONFLOW_Qwen_MODEL=Qwen/Qwen2.5-7B-Instruct
NODE_ENV=development
MONGO_URL=mongodb+srv://user:password@cluster.mongodb.net/hkfData?retryWrites=true&w=majority
JWT_SECRET=your-jwt-secret-here